body {
  margin: 0;
}

li {
  list-style-type: none;
  font-family: Arial;
  font-size: 13px;
  color: gray;
}

#logo {
  /*border: solid 5px yellow;*/
  padding-top: 12%;
}

#logo img {
  /*border: solid 2px pink;*/
  position: relative;
  left: 40%;
}

.resize {
  height: 100px;
}

.buttons {
  /*border: solid 5px green;*/
}

.buttons li {
  /*border: solid 1px gray;*/
  display: inline-block;
  position: relative;
  left: 38%;
  padding: 10px;
}
.nav {
    display: inline-block;
    width: 98%;
}
.nav li {
    display: inline-block;
    float: right;
    padding-right: 10px;
}
.nav li:hover {
  text-decoration: underline;
}
.containerfooter {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 18px;
  background-color: #efefef;
}
.leftfooter{
  position: absolute;
  bottom: -9px;
  left: -5px;
  text-align: left;
}
.rightfooter {
  position: absolute;
  bottom: -9px;
  right: 30px;
  text-align: right;
}
.leftfooter li, .rightfooter li {
  display: inline-block;
  color: #666;
  margin: 0;
}
.leftfooter li {
  padding-right: 25px;
}
.rightfooter li {
  padding-left: 25px;
}
.leftfooter li:hover, .rightfooter li:hover  {
  text-decoration: underline;
}
