body {
  margin: 0;
  font-family: Arial;
  font-size: 13px;
}
.nav {
  position: absolute;
  top: 0;
  right: 30px;
  text-align: right;
}
.nav li {
  display: inline-block;
  margin-left: 15px;
  color: #666;
}
.nav li img {
  vertical-align: middle;
}
.nav li:hover {
  text-decoration: underline;
}
.signIn {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  color: white!important;
  background-color: #3573d6;
  font-weight: bolder;
  margin-left: 15px;
  margin-top: 0;
}
.signIn:hover {
  border-bottom: solid .5px gray;
  text-decoration: none!important;
  cursor: default!important;
}
#logo img {
  display: block;
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
}
.afterpicnav {
  text-align: center;
}
.afterpicnav li {
  display: inline-block;
  margin: 3px;
  color: #666;
  background-color: #efefef;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bolder;
  border: solid .5px white;
}
.afterpicnav li:hover {
  border: solid .5px #e5e5e5;
  color: black;
}
.containerfooter {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 18px;
  background-color: #efefef;
}

.leftfooter{
  position: absolute;
  bottom: -9px;
  left: -5px;
  text-align: left;
}
.rightfooter {
  position: absolute;
  bottom: -9px;
  right: 30px;
  text-align: right;
}
.leftfooter li, .rightfooter li {
  display: inline-block;
  color: #666;
  margin: 0;
}
.leftfooter li:hover, .rightfooter li:hover {
  text-decoration: underline;
}
.leftfooter li {
  padding-right: 25px;
}
.rightfooter li {
  padding-left: 25px;
}
